descripcion: {{textarea type="text" value=concepto.descripcion}}
cantidad: {{input type="text" value=concepto.cantidad}}
precio: {{input type="text" value=concepto.precio}}
descuento: {{input type="text" value=concepto.descuento}}

<p>importe: {{concepto.importe}} </p>
<p>Subtotal: {{concepto.factura.subtotal}}</p>
<p>Total: {{concepto.total}}</p>
